.flex-row {
  flex-direction: row !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.ml-auto {
  margin-left: auto !important;
}

@include utility-ion-color;
