<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Doinsport
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <h2 class="ion-padding">Mes todos</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="d-flex justify-content-space-around">
        <ion-item>
          <ion-input [(ngModel)]="search" (keydown.enter)="triggerSearch($event)" placeholder="Rechercher...">
          </ion-input>
          <ion-icon slot="start" name="search-outline"></ion-icon>
        </ion-item>
        <ion-button (click)="openModal()" color="primary" expand="block">
          <ion-icon slot="start" name="add"></ion-icon>
          NOUVEAU
        </ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="todosByMonths$ | async as todosByMonths">
      <ion-row *ngIf="todosByMonths.length">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">

          <ion-card *ngFor="let todosByMonth of todosByMonths">
            <ion-list>
              <ion-item *ngFor="let todo of todosByMonth.todos;let todoIndex = index" lines="none">
                <ion-checkbox slot="start" [checked]="todo.done" (click)="toggleDone(todo)"></ion-checkbox>
                <ion-label>
                  <div class="d-flex flex-row">
                    <p class="align-p" [ngStyle]="{'text-decoration': todo.done ? 'line-through' : 'none'}">{{
                      todo.label }}</p>
                    <ion-icon name="calendar" slot="start" class="align-ion-icon ion-text-medium"></ion-icon>
                    <p class="align-p ion-text-medium">
                      {{ todo.createdAt | date:'d/MM/yyyy' }}
                    </p>
                    <ion-button (click)="openPoover(todo)" fill="clear" class="ml-auto">
                      <ion-icon class="ion-text-medium" slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
          <ion-infinite-scroll threshold="5%" (ionInfinite)="refreshTodos($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </ion-col>
      </ion-row>

    </ng-container>

  </ion-grid>

  <ion-list>

  </ion-list>

</ion-content>
